<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meteo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/global.css" type="text/css"  rel="stylesheet" />
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script type="text/javascript"
            src="/javascript/global.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/
        var state = /*[[${name}]]*/ 'value';
        /*]]>*/
        var callbackFunction = function(data) {
            $(document).ready(function() {
                var forecast = data.query.results.channel.item.condition;
                var temp = (forecast.temp-32)*(5/9);

                $("#temp").text(Math.floor(temp) + "°C ");
                $("#text").text(forecast.text + " in " + state);
                $('h1').animate({
                    fontSize: '20em'
                }, "slow");
            });
        };
    </script>

    <script th:src="@{https://query.yahooapis.com/v1/public/yql?q=select%20item.condition%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%27{path}%2C%20France%27)&#38;format=json&#38;env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&#38;callback=callbackFunction(path=${name})}"></script>


</head>
<body>

<div id="bg-fullscreen"></div>
<div id="content">

    <h1 id="temp">12°</h1>
    <h3 id="text">Temps clair à <span th:text="${name}"></span> </h3>
    <div class="link">
        <a href="/Evry" class="home">Voir à Evry</a>
    </div>
</div>

</body>
</html>