<html>
<head>
    <title>Test page</title>
    <link type="text/css" rel="stylesheet" href="/css/clouds.css" ></link>
    <link href="/css/global.css" type="text/css"  rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/css/meteo.css"></link>
</head>
    <body>
        <div id="meteo">Icon</div>
        <div id="bg-fullscreen"></div>
        <div id="content">
        </div>

    </body>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"> </script>
<script charset="utf-8" type="text/javascript" src="/javascript/backgroundTumbrl.js" > </script>
<script charset="utf-8" type="text/javascript" src="/javascript/global.js" > </script>
<script charset="utf-8" type="text/javascript">
    day = {"day":"Mon", "date":"10 Nov 2015", "low":40, "high":"65", "text": "Rain"}
    var inserted = $("#meteo").after(function (){
        return "<div id="+day.day+">" + weekDayTranslator(day.day) + " " +day.date + " de " + FtoC(day.low) + " à " + FtoC(day.high) + "°C appreciation " + day.text + "</div>";
    });
    insertIcon(day.text, day.day);
</script>
</html>